@model MessagesViewModel
@{
    ViewData["Title"] = "Sample Messages";
    var confirmation = ViewBag.Confirmation;
}
<h1>@ViewData["Title"]</h1>

<p>Send sample messages to App Insights</p>

@if (confirmation != null)
{
    <div class="alert alert-info" role="alert">
        Sample Log messages sent!
    </div>
}

<form asp-action="Messages" method="post" class="form-inline">
    <label class="my-1 mr-2" asp-for="Error">Error Message</label>
    <input type="text" asp-for="Error" class="form-control mb-2 mr-sm-2" id="errorMessage">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form asp-action="Exception" method="post" class="form-inline">
    <label class="my-1 mr-2" asp-for="Error">Throw Test Exception</label>
    <input type="text" asp-for="Error" class="form-control mb-2 mr-sm-2" id="exceptionTest" placeholder="Exception">

    <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>