@model MessagesViewModel
@{
    ViewData["Title"] = "Sample Messages";
    var confirmation = ViewBag.Confirmation;
}
<h1>@ViewData["Title"]</h1>

<p>Send sample messages to App Insights</p>

@if (confirmation != null)
{
    <div class="alert alert-info" role="alert">
        Sample Log messages sent!
    </div>
}

<form asp-action="Messages" method="post" class="row row-cols-lg-auto g-3 align-items-center">
    <div class="col-12">
        <label class="" asp-for="Error">Error Message</label>
    </div>
    <div class="col-12">
        <input type="text" asp-for="Error" class="form-control" id="errorMessage">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>    
</form>


<form asp-action="Messages" method="post" class="row row-cols-lg-auto g-3 align-items-center">
    <div class="col-12">
        <label class="" asp-for="Error">Throw Test Exception</label>
    </div>
    <div class="col-12">
        <input type="text" asp-for="Error" class="form-control" id="exceptionTest" placeholder="Exception">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>    
</form>